<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1090321170436-tjn8o7j6il53tavm7r58n6tq06mr53c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090321170436-tjn8o7j6il53tavm7r58n6tq06mr53c7</string>
	<key>API_KEY</key>
	<string>AIzaSyD9xe-xb6h-GkzK32wJA7xEySyrJFGiwRw</string>
	<key>GCM_SENDER_ID</key>
	<string>1090321170436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dos.WeatherSTRV</string>
	<key>PROJECT_ID</key>
	<string>weatherstrv-51120</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherstrv-51120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090321170436:ios:4a40aa0bcb270d4b</string>
	<key>DATABASE_URL</key>
	<string>https://weatherstrv-51120.firebaseio.com</string>
</dict>
</plist>